<%= form_for [:admin, @gallery] do |f| -%>
  <%= render :partial => "/shared/admin/error_messages", :locals => {
          :object => @gallery,
          :include_object_name => true
        } %>

  <div class='field'>
    <div id='page-tabs' class='clearfix ui-tabs ui-widget ui-widget-content ui-corner-all'>
      <ul id='page_parts'>
        <% [:text, :images].each_with_index do |part, part_index| %>
          <li class='ui-state-default<%= ' ui-state-active' if part_index == 0 %>'>
            <%= link_to part.to_s.titleize, "##{part}" %>
          </li>
        <% end %>
      </ul>
      <div id='page_part_editors'>
	<div class='page_part' id='text'>

	  <!--<div class='field'>
	    <%#= f.label :title -%>
	    <%#= f.text_field :title, :class => 'larger widest'  -%>
	  </div>-->

	  <!--<div class='field'>
	    <%#= f.label :description %>
	    <%#= f.text_area :description, :rows => 20, :class => 'wymeditor widest' -%>
	  </div>-->
	  <div class='field'>
	    <%= f.label :page_id %>
	    <%= f.text_field :page_id %>
	  </div>

	  <div class='field'>
	    <%= f.label :folder -%>
	    <%= f.text_field :folder  -%>
	  </div>
	</div>
	
	<div class='page_part' id='images'>
	  <div class='wym_box field images_field'>
	    <ul id='page_images' class='clearfix'>
	      <% if @filenames then @filenames.each do |filename|%>
		<li> <%= @gallery.tag(filename) %> 
		<div class='image_actions no-captions' style='display:none'>
		  <%= link_to image_tag('/images/refinery/icons/delete.png', :width => 16, :height => 16), admin_gallery_path(@gallery)+'/image/'+File.basename(filename), :method => :delete, :confirmation => t('.sure-delete') %>
		</div>
	      <% end end %>
	    </ul>
	  </div>
	</div>
      </div>
    </div>
  </div>
  <%= render :partial => "/shared/admin/form_actions",
              :locals => {
                :f => f,
                :continue_editing => false,
                :delete_title => t('delete', :scope => 'admin.galleries.gallery'),
                :delete_confirmation => t('message', :scope => 'shared.admin.delete', :title => @gallery.title)
              } %>
<% end -%>
<% content_for :stylesheets do %>
<%= stylesheet_link_tag 'page-image-picker' %>
<% end %>
<% content_for :javascripts do %>
<%= javascript_include_tag 'page-image-picker' %>
<% end %>
<% content_for :javascripts do %>
  <script>
    $(document).ready(function(){
      page_options.init(false, '', '');
    });
  </script>
<% end %>
