<%= form_for [:admin, @gallery] do |f| -%>
  <%= render :partial => "/shared/admin/error_messages", :locals => {
          :object => @gallery,
          :include_object_name => true
        } %>

    <div class='field'>
      <%=f.label :title %>
      <%=f.text_field :title %>
    </div>

    <div class='field'>
      <%= f.label :folder -%>
      <%= f.text_field :folder  -%>
    </div>
  
    <h2> Images </h2>
    <ul id='gallery' class='image-grid' class='clearfix'>
      <% if @filenames then @filenames.each do |filename|%>
	<li> <%= link_to image_tag(@gallery.thumb_url(filename)), @gallery.url_for(filename), :rel => 'lightbox-gallery' %>
	<div class='image_actions no-captions' style='display:none'>
	  <%= link_to image_tag('/images/refinery/icons/delete.png', :width => 16, :height => 16), admin_gallery_path(@gallery)+'/image/'+File.basename(filename), :method => :delete, :confirmation => t('.sure-delete') %>
	</div>
      <% end end %>
    </ul>
  <%= render :partial => "/shared/admin/form_actions",
              :locals => {
                :f => f,
                :continue_editing => false,
                :delete_title => t('delete', :scope => 'admin.galleries.gallery'),
                :delete_confirmation => t('message', :scope => 'shared.admin.delete', :title => @gallery.title)
              } %>
<% end -%>
<% content_for :stylesheets do %>
<%= stylesheet_link_tag 'page-image-picker', 'gallery' %>
<% end %>
<% content_for :javascripts do %>
<%= javascript_include_tag 'page-image-picker' %>
<% end %>
<% content_for :javascripts do %>
  <script>
    $(document).ready(function(){
      page_options.init(false, '', '');
    });
  </script>
<% end %>
